.wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
   
    margin: 0;
    background-color: #47810e;
}
nav{
    background-color: #47810e;
    height: 100px;
}nav ul{
   list-style-type: none;
   padding:0;
   display: flex;
}
 
nav a{
   text-decoration: none;
   text-align: center;
   color:rgb(108, 253, 108);
   display:block;
   padding: 20px;
   font-size: 30px;
   flex: 1 1 0;
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html{
   background-color: #bbface;
}
section {
min-height: 100%;
width: 650;
background-color: rgb(158, 245, 184);    
display: flex;
align-items:center;
justify-content: center;
}
.container{
width: 70%;
max-width:1000;
height: 79%;
margin:0 auto;
display: flex;
align-items:center;
justify-content:center
}
.left{
   width: 60%;
   height: 500px;
   background: url(celandine.jpg) no-repeat center / cover;
   margin: 30px;
   border-radius: 3px;
   box-shadow: 0 3px 10px #011d09;
}
.right{
   width: 50%;
   min-height: 400px;
   background-color: hsl(44, 79%, 85%);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px;
   margin-left: -300px;
   opacity: 85%; 
   box-shadow: 0 3px 10px #011d09;
   border-radius: 3px;
}
.content{
   border-radius: 4px;
   margin-bottom: 5%;
}
.title{
   margin: top 10%; 
   font-size: 30px;
   margin-top: 5%;
}

 